.App {
  text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 90%;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  /*min-height: 100vh;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  height: 25%;
}

.App-link {
  color: #61dafb;
}

.container-full {
  margin: 0;
  margin-right: 0;
  width: 100%;
  background-color: red;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navButton {
    display: inline-block;
    width: 25%;
}

.navigator {
  display: inline-block;
  width: 25%;
}

.textfield {
  display: inline-block;
  width: 75%;
}

.Banner {
    color: red
}

.Sidebar {
    color: blue
}

.Field {
    color: green
}
